body {
  border-left: 1px solid gray;
  margin: 0;
  overflow-y: scroll;
}

/* Popup container */
.popup {
  position: relative;
  /* display: inline-block; */
}

/* The actual popup (appears on top) */
.popup .popuptext {
  background-color: white;
  border: 2px solid black;
  bottom: 125%;
  font-size: 80%;
  line-height: 1em;
  /* left: 50%;
  margin-left: -80px; */
  position: absolute;
  visibility: hidden;
  width: 300px;
  z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
